<div>
    <div class="ui three column grid container">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/images/matthew.png">
                </div>
                <div class="content">
                    <a class="header">Matthew The Boss</a>
                </div>
            </div>
        </div>
        <div class="column middle aligned content center" align="center">
            <h1>10'000.00 CHF</h1>
            <button class="massive ui right labeled icon button primary" ng-class="{'disabled':processing}" ng-click="executePayment()">
                <i class="right arrow icon"></i>
                PAY HER
            </button>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/images/molly.png">
                </div>
                <div class="content">
                    <a class="header">Molly</a>
                </div>
            </div>
        </div>
    </div>
    <p> </p>
    <div>
        <h2 align="center"><i class="notched small circle icon" ng-class="{'loading':processing}"></i> Blockchain Smart-Contracts transaction logs <button class="ui mini button" ng-click="clear()">Clear</button></h2>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Source</th>
                <th>Destination</th>
                <th>Amount</th>
                <th>Transaction</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="log in logs">
                <td>
                    <h4 class="ui image header">
                        <img src="/images/{{log.sender}}.png" class="ui mini rounded image">

                        <div class="content">
                            {{log.sender}}
                        </div>
                    </h4>
                </td>
                <td>
                    <h4 class="ui image header">
                        <img src="/images/{{log.receiver}}.png" class="ui mini rounded image">

                        <div class="content">
                            {{log.receiver}}
                        </div>
                    </h4>
                </td>
                <td>
                    {{log.amount}}
                </td>
                <td>
                    {{log.transactionHash}}
                </td>
                <td ng-class="{'positive':log.accepted ,'warning':!log.accepted}">
                    <i class="icon" ng-class="{'checkmark':log.accepted}"></i> <span ng-if="log.accepted">Accepted</span><span ng-if="!log.accepted">Pending</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
