<div>
    <div class="ui three column grid container">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/images/matthew.png">
                </div>
                <div class="content">
                    <a class="header">Matthew The Boss</a>
                </div>
            </div>
        </div>
        <div class="column middle aligned content center" align="center">
            <h1>10'000.00 CHF</h1>
            <button class="massive ui right labeled icon button primary {disabled:processing}" ng-click="executePayment()">
                <i class="right arrow icon"></i>
                PAY HER
            </button>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/images/molly.png">
                </div>
                <div class="content">
                    <a class="header">Molly</a>
                </div>
            </div>
        </div>
    </div>
    <p> </p>
    <div>
        <h1 align="center"><i class="notched small circle {loading:processing} icon"></i> Blockchain Smart-Contracts transaction logs</h1>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Source</th>
                <th>Destination</th>
                <th>Amount</th>
                <th>Contract</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="log in logs">
                <td>
                    <h4 class="ui image header">
                        <img src="/images/{{log.sender}}.png" class="ui mini rounded image">

                        <div class="content">
                            {{log.sender}}
                        </div>
                    </h4>
                </td>
                <td>
                    <h4 class="ui image header">
                        <img src="/images/{{log.receiver}}.png" class="ui mini rounded image">

                        <div class="content">
                            {{log.receiver}}
                        </div>
                    </h4>
                </td>
                <td>
                    {{log.args.amount}}
                </td>
                <td>
                    {{log.transactionHash}}
                </td>
                <td class="positive">
                    <i class="icon checkmark"></i> Approved
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
