    <p> </p>
    <div class="ui three column grid container">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/images/matthew.png">
                </div>
                <div class="content">
                    <a class="header">Daniel Louise</a>
                </div>
            </div>
        </div>
        <div class="column middle aligned content center" align="center">
            <h1>100.00 CHF</h1>
            <button class="massive ui right labeled icon button primary">
                <i class="right arrow icon"></i>
                PAY HER
            </button>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/images/molly.png">
                </div>
                <div class="content">
                    <a class="header">Elliot Fu</a>
                </div>
            </div>
        </div>
    </div>
    <p> </p>
<div>
    <h1 align="center"><i class="notched small circle loading icon"></i> Blockchain Smart-Contracts transaction logs</h1>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Amount</th>
            <th>Contract</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <h4 class="ui image header">
                    <img src="/images/elyse.png" class="ui mini rounded image">

                    <div class="content">
                        Lena
                    </div>
                </h4>
            </td>
            <td>
                <h4 class="ui image header">
                    <img src="/images/matthew.png" class="ui mini rounded image">

                    <div class="content">
                        Matthew
                    </div>
                </h4>
            </td>
            <td>
                22
            </td>
            <td>
                CH/ZH STD PAYMENT
            </td>
            <td class="positive">
                <i class="icon checkmark"></i> Approved
            </td>
        </tr>
        </tbody>
    </table>
</div>
