<div>
        <table  class="ui celled table">
            <thead>
            <tr><th>Source</th>
                <th>Destination</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <h4 class="ui image header">
                        <img src="/images/elyse.png" class="ui mini rounded image">
                        <div class="content">
                            Lena
                        </div>
                    </h4></td>
                <td>
                <h4 class="ui image header">
                    <img src="/images/matthew.png" class="ui mini rounded image">
                    <div class="content">
                        Matthew
                    </div>
                </h4></td>
                <td>
                    22
                </td>
                <td>
                    <i class="icon checkmark"></i> Approved
                </td>
            </tr>
            </tbody>
        </table>
    </div>
